/******************** CUSTOM CSS ********************/

/********** TOP LEVEL **********/
p {
font-size: 16px;
}

h1 {
font-family: 'Ubuntu', sans-serif;
}

h2 {
font-family: 'Ubuntu', sans-serif;
}

h3 {
font-family: 'Ubuntu', sans-serif;
}

h4 {
font-family: 'Ubuntu', sans-serif;
}

/********** BOOTSTRAP OVERRIDES **********/

/* Navbar */
.navbar-gunner {
background-color: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
font-family: 'Ubuntu', sans-serif;
}

/* Navbar mobile */
@media (max-width: 768px) {
	.navbar-gunner {
	background-color: rgba(255, 255, 255, 1);
	}
}

/********** CUSTOM ELEMENTS **********/

/* Site title area */
.gunner-title {
text-align: center;
}

.gunner-title h1 {
font-size: 80px;
padding-top: 160px;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
}

.gunner-title button {
margin-top: 160px;
}

/* Site title area mobile */
@media (max-width: 768px) {
	.gunner-title h1 {
	font-size: 40px;
	padding-top: 80px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	}

	.gunner-title button {
	margin-top: 80px;
	}
}