<div class="gunner-title">
	<h1>Nicholas Gunner</h1>
	<p>Digital Storyteller</p>
	<a href="#intro">
		<button type="button" class="btn btn-default">View Story</button>
	</a> 
	<a href="{{ site.baseurl }}/public/Nicholas_Gunner_Resume.pdf">
	<button type="button" class="btn btn-default">Download 'old-school' resume</button>
	</a>
</div><!-- gunner-title -->

<div class="row">
<hr><a id="intro"></a>
<div class="container">
<div class="col-md-8 col-md-offset-2">
<h1>Intro</h1>
<p>I’m the New Media Manager at the State University of New York in Fredonia where I market the campus by telling its story online. I lead a team of students and enable them to transmit their experiences to large target audiences via social media. Our content is changing the admissions landscape at Fredonia and is keeping our college competitive in the digital space.</p>

<p>Before working at Fredonia I operated a virtual tour business called Pan Owl, I was a multimedia specialist at Digitall inc., in Jamestown, a production intern with both NPR’s State of the Re:Union and the WBFO news room in Buffalo. I’ve also produced freelance content for WBEZ in Chicago. I’ve founded and lead several web initiatives which I list on this website.</p>

<p>All in all, I am a content strategist, which is a fancy way of saying that I make important information accessible through digital storytelling.</p>

</div><!-- col-md-8 col-md-offset-2 -->
</div><!-- container -->
</div><!-- row -->